<div class="container">
  <h2>Welcome {{admin?.name}}!</h2>

  <div class="container">
    <p (click)="showEmployees()">Show employees</p>
    <table>
      <tr *ngFor="let employee of admin?.employeeList">

        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td (click)="showReservationsBlock = true; setCurrentEmployee(employee)"><b>reservations</b></td>
      </tr>
    </table>
  </div>

  <div *ngIf="showReservationsBlock" id="reservationsBlock">
    <p>Reservations of {{currentEmployee.name}}</p>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Day</th>
        <th>Status</th>
      </tr>
      </thead>
      <tr *ngFor="let reservation of currentEmployee.reservationList">
        <td>{{reservation.id}}</td>
        <td>{{reservation.day}}</td>
        <td>{{reservation.reservationStatus}}</td>
    </table>
  </div>

  <div class="container">
    <button (click)="showEmployeeRegistration = true" class="btn-outline-info" type="button">Register new employee
    </button>
    <div *ngIf="showEmployeeRegistration" class="container">
      <form [formGroup]="employeeRegistrationForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            formControlName="name"
            id="name"
            name="name"
            type="text">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            formControlName="password"
            id="password"
            name="password"
            type="text">
        </div>
        <button (click)="registerEmployee(); showEmployeeRegistration = false" class="btn-outline-info">Register
          Employee
        </button>
      </form>
    </div>
  </div>
</div>
