<div class="page-container">
  <div class="container-lg">
    <h2 class="h1">Welcome<small> {{admin?.name}}!</small></h2>
  </div>
  <div class="row justify-content-center" style="padding: 20px">
    <div class="col-4">
      <p (click)="showEmployees()" class="btn btn-outline-warning btn-rounded waves-effect">Show employees</p>
    </div>
    <div class="col-4">
      <button (click)="goToReservations()" class="btn btn-outline-warning btn-rounded waves-effect">Reservations
      </button>
    </div>
    <div class="col-4">
      <button (click)="showEmployeeRegistration = true" class="btn btn-outline-warning btn-rounded waves-effect"
              type="button">Register new employee
      </button>
    </div>
  </div>

  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Reservations</th>
        <th scope="col">Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of admin?.employeeList">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>
          <button (click)="showReservationsBlock = true; setCurrentEmployee(employee)"
                  class="btn btn-outline-info btn-rounded waves-effect">reservations
          </button>
        </td>
        <td>
          <button (click)="employeeDataEmitter.emit(currentEmployee)" class="btn btn-info btn-rounded">Edit</button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="showReservationsBlock" class="container" id="reservationsBlock">
    <div><h3>Reservations of {{currentEmployee.name}}</h3>
      <div style="padding: 10px">
        <span (click)="showReservationsBlock=false" class="badge badge-pill badge-secondary" type="button">Close</span>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Day</th>
        <th>Status</th>
      </tr>
      </thead>
      <tr *ngFor="let reservation of currentEmployee.reservationList">
        <td scope="row">{{reservation.id}}</td>
        <td>{{reservation.day}}</td>
        <td>{{reservation.reservationStatus}}</td>
    </table>
  </div>

  <div class="container">
    <div *ngIf="showEmployeeRegistration" class="container">
      <form [formGroup]="employeeRegistrationForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            formControlName="name"
            id="name"
            name="name"
            type="text">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            formControlName="password"
            id="password"
            name="password"
            type="text">
        </div>
        <button (click)="registerEmployee(); showEmployeeRegistration = false" class="btn-outline-info">Register
          Employee
        </button>
      </form>
    </div>
  </div>
  <!-- <app-edit-employee *ngIf="showEditPanel"></app-edit-employee> -->

  <app-admin-today-numbers></app-admin-today-numbers>
</div>
