<div class="page-container">
  <h2 class="h1">Welcome<small> {{employee.name}}!</small></h2>
  <app-new-reservation-form
    (createReservation)="update(employee.reservationList, employeeId)"></app-new-reservation-form>
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Day</th>
        <th scope="col">Status</th>
        <th scope="col">Change status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reservation of employee.reservationList">
        <th *ngIf="isReservationClosed(reservation)" scope="row">{{reservation.id}}</th>
        <td *ngIf="isReservationClosed(reservation)">{{reservation.day}}</td>
        <td *ngIf="isReservationClosed(reservation)">{{reservation.reservationStatus}}
          <!--<br>
          <small *ngIf="reservation.reservationStatus == 'ENROLLED' && position.valueOf() != 0">{{position}}.
            place</small> --->
        </td>
        <td *ngIf="isReservationClosed(reservation)">
          <nav aria-label="change-status">
            <ul class="pagination">
              <li class="page-item">
                <button (click)="enterOffice(reservation)" [disabled]="setEnterButtonDisabled(reservation)" id="enter">
                  ENTER
                  OFFICE
                </button>
              </li>
              <li class="page-item">
                <button (click)="leaveOffice(reservation)" [disabled]="setExitButtonDisabled(reservation)" id="exit">
                  LEAVE OFFICE
                </button>
              </li>
            </ul>
          </nav>
        </td>
      </tbody>
    </table>
  </div>

</div>
