<div class="page-container">
  <div style="padding:10px">
    <button (click)="goBack()" class="btn btn-outline-secondary" style="padding:10px">Back</button>
  </div>
  <h2 class="display-4">All reservations</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of reservationList">
      <th scope="row">{{item.id}}</th>
      <td>{{item.employeeName}}</td>
      <td>{{item.day}}</td>
      <td>{{item.status}}</td>
    </tr>

    </tbody>
  </table>
</div>
