<div class="page-container">
  <h2>Enter as admin</h2>
  <hr/>
  <form [formGroup]="adminLogin">
    <div class="form-control">

      <label for="id">
        Admin ID
      </label>
      <input
        formControlName="id"
        id="id"
        name="id"
        type="text">
      <label for="password">
        Password
      </label>
      <input
        formControlName="password"
        id="password"
        name="password"
        type="text">
    </div>
    <button (click)="login()" class="btn btn-primary" type="submit">Enter</button>
  </form>
</div>
